extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1
        i.fa.fa-home.clickable(onclick="window.location='/'" style='cursor:pointer;') 
        | Distribuição por Desporto
    .w3-row
      .w3-col.m4.l3(style='position:sticky;top:11vh;')
        h2(style='margin:5px;') Desportos
        ul.w3-ul.w3-hoverable(style='height:81vh;overflow:auto;')
          each d in desportos
            - let num = pessoas.filter(p => p.desportos.includes(d)).length
            li.clickable(onclick="window.location='#" + d + "'" style='cursor:pointer;') #{d} (#{num})
      .w3-col.m8.l9
        .w3-container
          each d in desportos
            - let pessoas_desporto = pessoas.filter(p => p.desportos.includes(d)).sort((p1,p2) => p1.nome < p2.nome ? -1 : 1)
            a(name=d)
            h2 #{d.charAt(0).toUpperCase() + d.slice(1)}
            table.w3-table-all.w3-hoverable
              thead
                tr
                  th ID
                  th Nome
                  th Idade
                  th Sexo
                  th Cidade
              each p in pessoas_desporto
                tr.clickable(onclick="window.location='/pessoas/" + p.id + "'" style='cursor:pointer;')
                  td #{p.id}
                  td #{p.nome}
                  td #{p.idade}
                  td #{p.sexo}
                  td #{p.morada.cidade}
    footer.w3-container.w3-blue.w3-center
      h5 Generated in RPCW2023 in #{d}